* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
body {
    font-family: 'Open Sans', sans-serif;
}
header {
    width: 100%;
    display: flex;
    background: black;
}
.header__logo {
    color: white;
    font-size: 24px;
    cursor: pointer;
    font-weight: 800;
    margin-top: 56px;
    margin-left: 12%;
    text-transform: uppercase;
}
nav {
    margin-top: 56px;
    margin-left: 29%;
}
.topnav a {
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 12px 16px;
}
.topnav a:hover {
    padding-bottom: 10px; /**/
    border-bottom: 3px solid #fcac45;
}
.topnav .icon {
    display: none;
}
main {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.main__welcome {
    text-align: center;
    background: black;    
    padding: 200px 0 410px 0;
}
main .main__welcome p {
    font-size: 20px;
    color: #999999;
}
main .main__welcome h1 {
    font-size: 44px;
    color: #999999;
}
main .main__welcome h1:after {
    display: none;
}
.mycompany {
    color: #fcac45;
}
.wrapper {
    width: 76%;
    margin: 0 auto;
}
main .main__about {
    display: flex;
    padding: 100px 0 100px 0;
}
.about__right {
    margin-left: 175px;
}
.about__right h1 {
    padding-bottom: 20px;
    display: inline-block;    
    border-bottom: 3px solid #fcac45;
}
.about__right h1::after {
    display: none;
}
.about__right p {
    color: #6c6c6c;
    margin: 30px 0 50px 0;
}
.about__right li {
    margin-top: 10px;
    padding-left: 25px;
    background: url('./img/mark.png') 0px no-repeat;
}
.mw-100 {
    min-width: 100%;
}
.bold {
    font-weight: bold;
}
.lighter {
    font-weight: lighter;
}
.italic {
    font-style: italic;
}
.grey {
    color: #5a5a5a;
}
.light__grey {
    color: #f5f5f5d4;
}
.main__team {
    color: white;
    text-align: center;
    background: black;
    padding: 100px 0 165px 0;
}
.main__team h1 {
    font-size: 44px;
    padding-bottom: 30px;
}
.photo {
    width: 125px;
    height: 125px;
    margin: 20px auto;
    border-radius: 50%;
    background: #d7d7d7;    
}
.team__cards {
    display: flex;
}
.card {
    margin: 0 40px;
}
.name {
    font-size: 20px;
    margin-bottom: 7px;
}
.position {
    color: white;
    font-size: 16px;
    margin-bottom: 35px;
}
.about__position {
    font-size: 14px;
    color: #999999;    
}
.services__cards {
    display: grid;
    text-align: center;
    grid-column-gap: 20px;
    grid-template-columns: auto auto auto auto;
}
.main__services h1 {
    text-align: center;
    padding: 100px 0 30px 0;
}
.main__services p {
    color: #6c6c6c;
    text-align: center;
    margin-bottom: 100px;
}
.services__card h4 {
    margin: 20px 0 15px 0;
}
.main__clients {
    color: white;
    text-align: center;
    background: black;
    padding: 100px 0 205px 0;
}
.main__clients h1 {
    margin-bottom: 30px;
}
.main__clients img {
    margin-top: 10px;
    margin-left: 30px;
}
.main__tesimonials {
    color: white;
    text-align: center;
    background: black;
    padding-bottom: 170px;
}
.main__tesimonials .testimonial {
    margin-bottom: 50px;
    text-transform: uppercase;
}
.main__tesimonials h1 {
    margin: 100px 0 30px 0;
    text-transform: uppercase;
}
.main__tesimonials p {
    margin-bottom: 50px;
    text-transform: uppercase;
}
.main__work {
    text-align: center;
    padding: 100px 0;
}
.main__work h1 {
    margin-bottom: 30px;
}
.main__work p {
    color: #6c6c6c;
    margin-bottom: 175px;
}
.main__work img:hover {
    opacity: 0.9;
}
.contact__form {
    padding: 100px 0;
}
.contact__wrapper {
    width: 753px;
    margin: 0 auto;
    color: #636363;
}
.contact__form h1,p {
    text-align: center;
}
.contact__form h1 {
    color: black;
    margin-bottom: 30px;
}
.contact__form p {
    padding-top: 50px;
}
form p {
    text-align: left;
}
.red {
    color: red;
}
.form__inputs {
    display: flex;
    margin-top: 100px;
}
input {    
    width: 360px;
    height: 40px;    
    font-size: 20px;
    margin-bottom: 30px;
}
input:first-of-type {
    margin-right: 31px;
}
input, textarea {
    margin-top: 5px;
    border: 1px solid #999999;
}
textarea {
    width: 100%;
    height: 163px;
}
.button__block {
    display: flex;
    justify-content: flex-end;
}
input[type=submit] {
    width: 165px;
    height: 40px;
    color: white;
    margin-right: 0;
    margin-top: 20px;
    background: #fcac45;
}
footer {
    width: 100%;
    height: auto;
    padding: 30px 0;
    background: #222222;
}
.social {
    display: flex;
    justify-content: center;
}
.social img {
    margin-left: 12px;
}
.social img:hover {
    opacity: 0.6;
}
h1:after {
    content: "";
    width: 100px;
    display: block;
    margin: 0 auto;
    padding-top: 30px;
    border-bottom: 3px solid #fcac45;
}
@media screen and (max-width: 1450px) { 
    nav { 
        margin-left: 20%; 
    }
}
@media screen and (max-width: 1300px) { 
    nav { 
        margin-left: 15%; 
    }
}
@media screen and (max-width: 1150px) {
    nav { 
        margin-left: 10%; 
    }
}
@media screen and (max-width: 1050px) {
    .topnav a {
        display: none;
    }
    .topnav a.icon {
        float: right;
        color: white;
        display: block;   
        font-size: 25px;    
        margin-top: -17px;     
    }
    nav {
        width: 100%;
    }
    .topnav.responsive {
        top: 50px;
        left: -200px;
        position: relative;
    }
    header .topnav.responsive {
        height: 340px;
    }
    .topnav.responsive a.icon {        
        top: -50px;
        right: -200px;
        position: absolute;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    main .main__welcome {
        padding: 50px 0 50px 0;
    }
    main .main__welcome p {
        font-size: 14px;
    }
    main .main__welcome h1 {
        font-size: 25px;
    }
    .mw-100 {
        max-width: 100%;
    }
    .main__about {
        flex-direction: column;
    }
    .about__right {
        margin-left: 0;
        text-align: center;
    }
    .about__right li {
        text-align: left;
    }
    .about__right h1 {
        font-size: 35px;
        margin-top: 10px;
    }
    .team__cards {
        flex-direction: column;
    }
    .services__cards {
        grid-template-columns: auto;
    }
    .line1 img:not(:first-child),
    .line2 img:not(:first-child),
    .line3 img:not(:first-child) {
        display: none;
    }
}